<!doctype html>

<html>
    <head>
        <meta charset="utf-8">
        <title>{{pageTitle}}</title>
    </head>
    <body>
        {{> header}}
        <p>Company Working for Web development!!</p>
        {{> footer}}
    </body>
</html>